/** @format */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Bubbles&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #ffffcc 52%, #99ff66 27%);
}
.App {
  text-align: center;
}
h2 {
  font-family: "Rubik Bubbles", cursive;
  font-size: 2rem;
}

.Box {
  margin: auto;
  width: 32%;
  position: relative;
  top: 15px;
}

.eachItems {
  margin-top: 20px;
  background-color: black;
  background: #fff;
  padding: 0.8rem 0.8rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  background: black;
  color: white;
}
.eachItems:hover {
  background: rgb(119, 111, 111);
  color: black;
}
.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}
.btn {
  margin: auto;
  width: 11%;
  position: relative;
  top: 55px;
}
.btn .Buttn {
  padding: 10px 10px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-family: "Rubik Bubbles";
  border-radius: 20px;
}
.btn .Buttn:hover {
  background: rgb(119, 111, 111);
  color: black;
  text-decoration: underline;
}
